<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header class="navbar sticky-top container-fluid d-flex flex-wrap align-items-center justify-content-between py-1 bg-light">
        <h1 class="fs-4">{{ titulo }}</h1>
        <div class="d-flex align-items-center">
            <img src="{{ profilePic }}" alt="Profile Picture" class="me-3 img-thumbnail rounded-circle" style="width: 40px; height: 40px;">
            <span class="text-muted">{{ user.username }}</span>
            <a href="{{ url_for('auth.logout') }}" class="btn btn-sm btn-outline-primary ms-3">Sair</a>
        </div>
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-1 bg-body-tertiary rounded-3">
                  <li class="breadcrumb-item"><a href="{{ url_for('dashboard.dashboard') }}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Anotações</li>
                </ol>
            </nav>
        </div>    
    </header>
    <div class="container-fluid">   
        <div class="row">
            <div class="sidebar col-md-3 col-lg-2 p-1 bg-light">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{{ url_for('dashboard.my_notes')}}">
                    Anotações
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('dashboard.my_time') }}">
                    My Time
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="#">
                    My Plot
                  </a>
                </li>
              </ul>
            </div>
            <main class="col-md-9 col-lg-10">
              <div>
                    <h4>Anotações</h4>
                    <ul class="list-group">
                        {% for note in dadosDashboardDTO.lista_notas %}
                            <li class="list-group-item">{{ note }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </main>
        </div>
    </div>

</body>
</html>